$def with(cluster_form)
<h2>Cluster Description</h2>
<div id="content">

</div>
<script>
    var load_conf = function(){
        jQuery.ajax({
              type: "POST",
              dataType: "json",
              data: res,
              cache: false,
              success: function(){
                jQuery("#content").text("uploaded")
              }
            });
    
    }
    jQuery("#content").delegate("#Generate","click",function() {
        var res = jQuery("#content").html()
        console.log(res)
        jQuery.ajax({
              type: "POST",
              dataType: "json",
              data: res,
              cache: false,
              success: function(){
                jQuery("#content").text("uploaded")
              }
            });
    });
</script>
