<html lang='us'>
<head>
<meta charset="utf-8">
<title>CeTune Management Tool</title>
<link href="./static/jquery/jquery-ui.css" rel="stylesheet">
<link href="./static/css/common.css" rel="stylesheet">
<script src="./static/jquery/external/jquery/jquery.js"></script>
<script src="./static/jquery/jquery-ui.js"></script>
</head>
<body>
<h1>CeTune Management Tool</h1>
<div id='tabs'>
<ul>
<li><a href="configuration">Configuration</a></li>
<li><a href="monitor">Terminal Monitor</a></li>
<li><a href="results">results</a></li>
</ul>
</body>
<script>
jQuery( "#tabs" ).tabs();
</script>
