@charset "utf-8";
/* CSS Document */
body{ background-color:#085EAB; margin:0px; padding:0px;}

#div_top_id{width:100%; height:160px; }
#div_logo_id{ width:95%; height:160px; margin:0 auto;}
#div_logo_intel_id{width:255px; height:160px; float:left; background-image:url(../image/intel_logo.png); position:absolute;}
#div_logo_ceph_id{width: 454px; height:160px; float:right; background-image:url(../image/ceph_logo.png);position: relative;}

#div_content_id{width:100%;height:600px;}
#div_menu_id{ width:95%; height:44px; margin:0 auto;}
#div_menu_left_id{width:1%; height:44px; float:left; background-image:url(../image/menu_left.png); background-repeat:no-repeat;}
#div_menu_middle_id{width:98%; height:44px;float:left; background-image:url(../image/mune_middle.png); background-repeat:repeat;}
#div_menu_right_id{width:1%; height:44px; float:left; background-image:url(../image/menu_right.png); background-repeat:no-repeat;}

#div_menu_middle_id ul{ list-style:none; margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#FFF;}
#div_menu_middle_id ul li{ float: left; cursor:pointer; margin-top:10px; margin-left: 35px;padding-top:3px; padding-bottom:3px; padding-left:8px;padding-right:8px; }


.tab_background_click{background-image:url(../image/menu_button.png); filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
      -moz-background-size:100% 100%; background-size:100% 100%;}
.tab_background_mouseover{background-image:url(../image/menu_button.png); filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
      -moz-background-size:100% 100%; background-size:100% 100%;}
 
.div_tab_class{width:95%;height:600px; margin:0 auto;background-color:#FFF;}
#div_Configuration_id{ display:block;}
#div_Status_id{ display:none;}
#div_Configuration_id{display:none;}

.tab_div_display{display:block;}

.div_content_left_class{ width:25%; height:300px; float:left; }
.div_content_right_class{ width:75%; height:300px; float:left; }

#div_Configuration_left_top_id{ width:100%; height:50px;}
#div_Configuration_left_top_id P{ margin-left:15px; line-height:10px; color:#666; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;}
#div_Configuration_left_top_id P:first-child{ font-size:20px; }

#div_Configuration_left_content_id ul{list-style: url(../image/config_Wait.gif); margin:0px;color:#666; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold;}
#div_Configuration_left_content_id ul li{line-height:20px; margin-top:15px; cursor:pointer;}
#div_Configuration_left_content_id ul li a{cursor:pointer; text-decoration:none; text-align:center;}

.SubMenu_li_a_click { color:#F60;}
.SubMenu_li_a_mouseover { color:#F60;}


#div_Configuration_left_execButton_id{ width:100%; height:80px;}
/*#bnt_Confguration_exec_id{ margin:0 auto; padding:10px 20px 10px 20px; background-color:#999; border-top:1px solid #EEEEEE; border-left:1px solid #EEEEEE; border-bottom:1px solid #717171; border-right:1px solid #717171; }*/
#bnt_Confguration_exec_id{ margin-left:30px; margin-top:25px;;padding:10px 25px 10px 25px;}


#div_Configuration_right_top_id{width:100%; height:50px; }
#div_Configuration_right_top_titel_id{width:50%; height:50px; float:left; margin-top:10px; margin-left:15px;  color:#000; font-family:Arial; font-size:20px; font-weight:bold;}
#div_Configuration_right_top_button_id{width:48%; height:50px; float:left; margin-top:10px;}
.bnt_Confguration_tableOper_class{margin-top:0px; float:right;padding:5px 15px 5px 15px; cursor:pointer; background-color:#FC0; color:#630;font-family:Arial;font-weight:bold;}

#div_Configuration_right_content_id{width:100%; height:300px; background-color:#099;}

#text_Status_id{ margin:0 auto; width:95%; height:500px; margin-top:30px; background-color: #000; color:#0F0; font-size:12px; font-family:Arial; overflow:scroll;}
