/****************************************** 
   CSS Document
   Author: Sean,Lin
   E-mail:  xiangx.lin@intel.com
   Descrption: 
 *******************************************/
@charset "utf-8";

#table_id,#table_benchmark_id{margin:0px; padding:4px; border-collapse:collapse; width:99%; text-align:left; border:1px solid  #CCC;}

#table_benchmark_id{ margin-top:3px;}

#table_benchmark_id{ margin-top:15px;}

#table_id,#table_benchmark_id tr{ border:1px solid #CCC;}
#table_id tr:hover{ background: #FFC;}
#table_benchmark_id:hover{ background: #FFC;}

#table_id th{border:1px solid #CCC; color:#000; font-weight:bold; background-color: #E3E3E3;; 
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; height:35px;padding-left:5px;}

#table_benchmark_id th{border:1px solid #CCC; color:#000; font-weight:bold; background-color: #E3E3E3;; 
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; height:35px;padding-left:5px;}  
   
   
tr{border:1px solid #CCC;}

td{ max-width:500px;}

.td_key_class{ border:1px solid #CCC; text-align:left; width:20%;  color:#000; padding-left:5px;cursor:pointer; font-size:13px; }
.td_Desc_class{border:1px solid #CCC; text-align:left; width:25%;  color:#000; padding-left:5px;cursor:pointer; font-size:13px; }
.td_value_class{ border:1px solid #CCC; text-align:left; width:50%;  padding-left:5px; cursor:pointer; font-size:13px; }
.checkbox_td_class{width:3%; text-align:center;padding-left:0px;}

.td_class{ border:1px solid #CCC; text-align:left; width:auto;  color:#000; padding-left:5px;cursor:pointer; font-size:13px; }

					 
.text_class{ background-color: #E8E8E8; color: #000;
             border-top:1.5px solid #666; 
			 border-left:1.5px solid #666; 
			 border-right:1.5px solid #E8E8E8;
			 border-buttom:1.5px solid #E8E8E8;
			 font-weight:bold;
			 width:80%}
			 
.label_class{ cursor:pointer;word-wrap:break-word;word-break:keep-all;overflow:hidden; min-height:16px; width:80%;}

.table_class tr.altrow{ background:#f0f0f0;}
.error{ background: #FF0; color:#F00;}

#div_benchmark_button_id{ margin-top:15px; margin-bottom:10px;}

#bnt_Confguration_add_id,#bnt_Confguration_delete_id,#bnt_benchmark_add_id,#bnt_benchmark_delete_id{ float:right; margin-left:5px; margin-right:10px;}

.btn btn-primary btn-xs{ margin-left:3px;}
/**********************************************************************************************************************************/
.cetune_table{ 
   color: #000;
   font-family: Helvetica, Arial, sans-serif;
   table-layout: fixed; 
   border: 1px solid #CCC;
   border-spacing: 0; 
   border-collapse:collapse; 
   margin-buttom:1px;
}


#div_Reports .cetune_table tbody{
    float:left;
}


.cetune_table td, th { 
    border-buttom: 1px solid #CCC; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
    text-align: left;
    padding-left:10px !important;
    padding-right:10px !important;
    min-width: 60px;
    text-overflow: ellipsis;
    word-wrap:break-word;
    word-break:break-all;
}

.cetune_table th {
    /*background: #DFDFDF;   Darken header a bit */
    border-left: 1px solid #CCC;
    text-align:center;
	font-weight:bold; 
    background-color: #E3E3E3;; 
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    height:35px;
}


#div_Help { 
    padding:0 auto;
    margin:0 0;
    height:auto;
    width:100%;
}

.div_markdown_class {
    padding: 20px 20px;
    margin: 20px 0;
}

.help_table_class {
    width:100%;
}

.div_help_class tr {
    width:100%;
}
.div_help_class th {
    border: 1px solid #CCC;
    height: 30px;
    transition: all 0.3s; 
    border-top: 0px solid #CCC;
    font-weight: bold;
    text-align: center;
    font-weight:bold; background-color: #E3E3E3;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; height:35px;
}

.div_help_class td {
    width: auto;
    padding-left:25px;
    border: 1px solid #CCC;
    text-align: left;
    word-break:break-word;
    max-width:1280px;
    line-height:30px;
}
.help_table_class tr:nth-child(even) td { background: #F1F1F1; }   
.help_table_class tr:nth-child(odd) td { background: #FEFEFE; }  

.div_help_class td:last-child{
}

.help_table_class .left_style{ width: 20%; }
.help_table_class .mid_style{ width: 30%; }
.help_table_class .right_style{ width: 50%; }

#td_right_id{text-align: left;}
#label_id{color:#F00;text-align: center;font-weight: bold;}
#mid_style{min-width:200px;}
.td_right {
    text-align: left;	
}

/* Cells in even rows (2,4,6...) are one color */	
.cetune_table tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */	
.cetune_table tr:nth-child(odd) td { background: #FEFEFE; }  

.cetune_pic {
    width: 1000px;
    margin:0 auto;
}

.cetune_table { cursor: pointer;}
.cetune_table tr:hover td{background: #FFC;}
.cetune_table tr:hover{ background: #FFC;}
